<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div id='login-form'>
  <%= form_tag("/sessions/create", method: "post", class: 'form-login', role: 'form') do %>
  <label for="email"></label><input type="text" name="email" placeholder="email" id="email" class="form-control">
  <label for="password"></label><input type="password" name="password" placeholder="password" id="password" class="form-control">
  <label>&nbsp; </label><input class="button btn-lg btn-primary btn-block login" type="submit" value="Login">
  <% end %>
</div>


<div class="signup">
  <a href='#' class="js-partial" id="create_acc_link">Sign Up</a>
  <div class="center_buttons" id="hidden-signups" style='display: none;'>
    <%= button_to 'Teacher', new_teacher_path, class: 'sign_up sidebtn in-line', method: :get %>
    <%= button_to 'Student', new_student_path, class: 'sign_up sidebtn in-line', method: :get %>
  </div>
</div>


