<div class="row">
  
  <div class="row">
    <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
    <% end %>
  </div>

  <div class="row" id='login-form'>
    <%= form_tag("/sessions/create", method: "post", class: 'form-login', role: 'form') do %>
    <div class="small-8 large-5 large-centered small-centered columns">
      <h4>Please Login to continue</h4>
      <label for="email"></label><input type="text" name="email" placeholder="email" id="email" class="form-control">
      <label for="password"></label><input type="password" name="password" placeholder="password" id="password" class="form-control">
      <div class="spacer"></div>
      <input class="button button-round button-wide login" type="submit" value="Login">
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class="signup small-8 large-5 large-centered small-centered columns form-control">
      <input class="button button-round button-wide login" type="submit" value="Sign Up" id="create_acc_link">
      <div class="center_buttons" id="hidden-signups" style='display: none;'>
        <%= button_to 'Teacher', new_teacher_path, class: 'sign_up sidebtn in-line', method: :get %>
        <%= button_to 'Student', new_student_path, class: 'sign_up sidebtn in-line', method: :get %>
      </div>
    </div>
  </div>

</div>
