<%= form_tag("/sessions/create", method: "post", class: 'form-login', role: 'form') do %>
  <h2 class="form-login-heading">sign in</h2>
  <input type="text" name="email" placeholder="email here" class="form-control">
  <input type="password" name="password" placeholder="password" class="form-control">
  <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
<% end %>