<div>
	<h2>Sign up for a new class</h2>
	<ul class="courses"> Available Course's
		<% @courses.each do |course| %>
			<li><%= button_to course.name, { controller: :students, action: "add_class", id: course.id } %></li>
		<% end %>
	</ul>
</div>